<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://rodrigolucke1-001-site1.itempurl.com:8172/MsDeploy.axd?site=rodrigolucke1-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>rodrigolucke1-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>rodrigolucke1-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Database1Entities" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5080.site4now.net;User ID=DB_A680E7_Database1_admin;Password=ads2020*" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5080.site4now.net;Initial Catalog=DB_A680E7_Database1;Persist Security Info=True;User ID=DB_A680E7_Database1_admin;Password=ads2020*;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Database1Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;&#xD;&#xA;				 provider=System.Data.SqlClient;provider connection string=&quot;&#xD;&#xA;				 data source=SQL5080.site4now.net;&#xD;&#xA;				 initial catalog=DB_A680E7_Database1;&#xD;&#xA;				 persist security info=True;&#xD;&#xA;				 user id=DB_A680E7_Database1_admin;&#xD;&#xA;				 password=ads2020*;&#xD;&#xA;				 MultipleActiveResultSets=True;&#xD;&#xA;				 App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Database1Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="data source=SQL5080.site4now.net;user id=DB_A680E7_Database1_admin;password=ads2020*;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>